// Zoo

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.animals {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 30%;
  width: 100%;
  background: rgb(100,255,100);
}

.exhibit {
  position: relative;
  display: flex;
  flex-wrap: wrap-reverse;
  width: 20%;
  height: 75%;
  border: 1px solid black;
  background: white;
  p {
    position: absolute;
    align-self: flex-start;
    top: -16%;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .animal {
    height: 25%;
    width: 30%;
    border: 2px solid white;
    transition: all .2s ease;
    &.boy {
      border: 2px solid blue;
    }
    &.girl {
      border: 2px solid pink;
    }
    img {
      height: 100%;
      width: 100%;
    }
    .name {
      display: flex;
      opacity: 0;
      justify-content: center;
      text-align: center;
      background: white;
      transition: all .5s ease;
    }
  }
}

.road {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 30%;
  width: 100%;
  background: gray;
  .gate {
    margin-right: 5%;
    font-size: 3vw;
  }
}

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  height: 25%;
  width: 30px;
  background: blue;
  box-shadow: 0 0 20px black;
  font-size: 4vh;
  color: rgb(0,255,0);
  .head {
    position: relative;
    top: -30%;
    height: 40%;
    width: 30px;
    background: pink;
    border-radius: 50%;
  }
  .money {
    position: relative;
    top: -150%;
    opacity: 1;
    transition: all 1s ease;
  }
}

.totalProfit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  height: 12%;
  width: 75%;
  border: 1px solid black;
  font-size: 5vw;
}

.buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10%;
}

button {
  height: 100%;
  width: 20%;
  margin: 1%;
  font-size: 2vw;
}

.displayBox {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 45%;
  height: 20%;
  width: 50%;
  transform: translate(0, -50%);
  background: white;
  border: 2px solid black;
  font-size: 4vw;
}

.animalOptions {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 0;
  font-size: 3vw;
}
